# Fully generated folders
bin/
bin-int/

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.sln
*.vcxproj


# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
